* {
    margin: 0;
    padding: 0;
}

h2 {
    text-transform: uppercase;
}

h3 {
    font-size: 16px;
    padding: 15px 0 8px 0;
}

.talent-container {
    flex-grow: 1;
    width: 400px;
    padding: 20px 25px;
    border-radius: 3px;
    text-align: justify;

}

.talent-container h2 {
 font-family: 'Londrina Solid', sans-serif;
 font-size: 30px;
}

.level-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 5px;
    background-color: #c6c6c6;
    padding: 5px;
    margin: 7px 0;
    font-size: 14px
}